/* ------------------ */
/* fv */
/* ------------------ */
.fv{
    height: 90vh;
    background-image: url(../images/fv-bgi@2x.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-copy{
    font-size: 5rem;
    color: $color-white;
    font-weight: bold;
    border: 2px solid $color-white;
    padding: 34px 42px;

    @include mq{
        font-size: 3rem;
    }
}