//フォント関係の設定
// $font-base:;

//色関係の設定
    //サイトカラー
    $color-main:#1B1310;
    // $color-sub:;
    //フォントカラー
    $color-font: #141414;
    $color-header: #fff;
    //リンクカラー
    $color-link: #fff;
    // 白色
    $color-white: #fff;